<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brothersgas">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="common.AppController"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login"
            android:screenOrientation="portrait"/>
        <activity android:name=".DashBoard"
            android:screenOrientation="portrait"/>
        <activity android:name="contracts.Contracts"
            android:screenOrientation="portrait"/>
        <activity android:name="contracts.ContractDetails"
            android:screenOrientation="portrait"/>
        <activity android:name="contracts.Search"
            android:screenOrientation="portrait"/>
        <activity android:name="invoices.Connection_Disconnection_Invoice"
            android:screenOrientation="portrait"/>
        <activity android:name="invoices.Connection_Disconnection_Invoice_details"
            android:screenOrientation="portrait"/>
        <activity android:name="invoices.Block_Cancel"
            android:screenOrientation="portrait"/>
        <activity android:name="invoices.Block_Cancel_Details"
            android:screenOrientation="portrait"/>
        <activity android:name="consumption.Consumption"
            android:screenOrientation="portrait"/>
        <activity android:name="consumption.ConsumptionList"
            android:screenOrientation="portrait"/>
        <activity android:name="consumption.ConsumptionDetails"
            android:screenOrientation="portrait"/>
        <activity android:name="payment.InvoiceList"
            android:screenOrientation="portrait"/>
        <activity android:name="payment.PaymentReceipt"
            android:screenOrientation="portrait"/>
        <activity android:name="invoices.Print_Email"
            android:screenOrientation="portrait"/>
        <activity android:name="common.Signature"
            android:screenOrientation="landscape"/>
        <activity android:name="consumption.ConsumptionReceipt"
            android:screenOrientation="portrait"/>
        <activity android:name="payment.PaymentReceipt_Print_Email"
            android:screenOrientation="portrait"/>
        <activity android:name="activatecontract.ActivationContractDetails"
            android:screenOrientation="portrait"/>
        <activity android:name="activatecontract.ContractListForActivation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Enquiry"
            android:screenOrientation="portrait"/>
        <activity android:name="activatecontract.TenantChange"
            android:screenOrientation="portrait"/>
        <activity android:name="payment.PayAll"
            android:screenOrientation="portrait"/>
        <activity android:name="activatecontract.Print_Email"
            android:screenOrientation="portrait"/>
        <activity android:name="invoices.GeneratePdf"
            android:screenOrientation="portrait"/>
        <activity android:name="invoices.DepositInvoicePreview"
            android:screenOrientation="portrait"/>
        <activity android:name="payment.PaymentReceiptPreview"
            android:screenOrientation="portrait"/>
        <activity android:name="invoices.Consumption_DeliveryNote_Preview"
            android:screenOrientation="portrait"/>
        <activity android:name="consumption.ConsumptionPreview"
            android:screenOrientation="portrait"/>

    </application>

</manifest>